include head
-$page_list = "farm";
body
  // header
  include header

  .main-wrapper
    .farm_list
      .item
        .left_div
          .image
            img src="assets/images/sample_farm.jpg" alt=""/
            .t_image
              .iline
        .info
          .title 
            span 可愛小浣熊
            .line 
          .txt 可愛的兔子園、羊群、騎乘迷你馬、駱駝、恩愛的駱馬、驢子、白色的雪氈鹿、山羌、活潑亂跳的松鼠及猴島中之最佳男主角—白色的台灣彌猴等等等。
      .item
        .left_div
          .image
            img src="assets/images/sample_farm02.jpg" alt=""/
            .t_image
              .iline
        .info
          .title 
            span 可愛小浣熊
            .line 
          .txt 可愛的兔子園、羊群、騎乘迷你馬、駱駝、恩愛的駱馬、驢子、白色的雪氈鹿、山羌、活潑亂跳的松鼠及猴島中之最佳男主角—白色的台灣彌猴等等等。
      .item
        .left_div
          .image
            img src="assets/images/sample_farm.jpg" alt=""/
            .t_image
              .iline
        .info
          .title 
            span 可愛小浣熊
            .line 
          .txt 可愛的兔子園、羊群、騎乘迷你馬、駱駝、恩愛的駱馬、驢子、白色的雪氈鹿、山羌、活潑亂跳的松鼠及猴島中之最佳男主角—白色的台灣彌猴等等等。
      .item
        .left_div
          .image
            img src="assets/images/sample_farm02.jpg" alt=""/
            .t_image
              .iline
        .info
          .title 
            span 可愛小浣熊
            .line 
          .txt 可愛的兔子園、羊群、騎乘迷你馬、駱駝、恩愛的駱馬、驢子、白色的雪氈鹿、山羌、活潑亂跳的松鼠及猴島中之最佳男主角—白色的台灣彌猴等等等。
  // footer
  include footer
