.content
	.head_btn
		.close
	.detail
		.left_img
			img src="assets/images/sample_food.jpg" alt=""/
			img src="assets/images/sample_food02.jpg" alt=""/
			img src="assets/images/sample_food03.jpg" alt=""/
		.right_div
			.top
				.title 豐年宴會廳 
				.txt 搖一勺，溫潤滑過肌膚，熱度滲入肌理，暖了身；浸一刻，純粹滋味，體會真滋味。泉質白霧中的呼吸與溫度，瀰漫著大自然芬多精，一夜好眠。
			.bottom
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
				.item
					.sub 溫泉區
					ul
						li 源泉－為二指山之水脈，於89年6月特邀全日本探勘專家費時近兩個月的時間於地底1520m處成功鑿出，PH值7.1，又稱為鐵礦泉、美人湯。
						li 兆豐溫泉屬性－微鹼性碳酸氫納溫泉，又稱為鐵磺泉，水溫攝氏41.9度~42.1度。
						li 特殊療效－滋潤肌膚改善膚質另有美人湯之稱，對身體有鎮靜神經、擴張血行、風濕病、關節炎、神經
