include head

-$page_list = "food";
body
  // header
  include header

  .main-wrapper
    .roomlist
      .room data-page="Food"
        .all
          .image
            img src="assets/images/sample_food.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 豐年宴會廳 
                .line
              .content 豐年廳是我們農場的大型宴會廳，提供早、中、晚餐，為您準備農場栽培之蔬果料理、花蓮當地特殊食材及特色山產，菜餚清爽鮮美，有別於一般大魚大肉的膩味，呈現花蓮特有、天然深山清溪的色、香、味。豐年廳裝潢充滿濃濃的原住民風味，空間寬敞舒適，讓您隨時都能感受到溫暖的陽光以及開闊的視野，外面並有噴水池的設計，緊鄰住宿區荷蘭區，方便住宿客前往。餐廳除了接受團體訂餐，亦提供二至四人、六人之經濟合菜小炒，餐點提供當季時令產出之新鮮蔬果料理，另有主廚設計之特殊菜色，結合原住民烹調技法，加上花蓮原住民慣用之天然食材，讓您輕鬆享受花蓮美食。 
              a.more.load_food href="foodin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_food02.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 莊園Cafe
                .line
              .content 莊園café是附設在兆豐廳裡的一悠閒咖啡廳，面對大草皮及中央山脈，綠油油的景色讓人感到放鬆，您可以選個喜歡的一隅，怡然啜一口現煮咖啡，讓自己的步調慢下來。營業時間:上午八點至晚上十點，現煮咖啡搭配農場自產鮮乳，農郁香味讓人回味無窮。
              a.more.load_food href="foodin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_food03.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span 星光Live吧
                .line
              .content 兆豐廳亦附設有星光啤酒吧，啤酒吧營業時間為晚上七點至十點半，夏日的夜晚，可與三五好友來此喝杯冰涼的啤酒，聆聽活力四射的原民歌手演奏，隨著旋律手牽手來一段熱情舞蹈，這個夜晚好熱鬧。如要享受仲夏夜的寧靜，也可在星光live吧旁的躺椅小憩片刻，看著天上繁星，良辰美景，好不自在。
              a.more.load_food href="foodin.html" Read More


  // footer
  include footer