include head

body
  // header
  include header_cn

  .main-wrapper
    .slidewarp
      .banners
        .items data-cunt="01"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experience
            .date 2016.01.20
            .line
        .items data-cunt="02"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A worldxperience
            .date 2016.01.20
            .line
        .items data-cunt="03"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experie & travel experiennce
            .date 2016.01.20
            .line
        .items data-cunt="04"
          img src="assets/images/sample_slideindex.jpg"
          .img_title 
            .c A world-class life & travel experience
            .date 2016.01.20
            .line
    section.intro
      .info
        .info_div
          h2.title 
            span Netherlands
            .line 
          .content Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
          a.more href="roomin.html" Read More
      .imgs
        figure
          .image.r1
            img src="assets/images/sample_index01.jpg"
            .t_image
              .iline
          .image.r2
            img src="assets/images/sample_index02.jpg"
            .t_image
              .iline
    section.facility
      ul.more_list
        li
          span Facilities
          a.more href="facility.html" Read More
        li
          span Golden Spa
          a.more href="spa.html" Read More
        li
          span Restaurant
          a.more href="route.html" Read More
      .imgs
        .items
          .image
            img src="assets/images/sample_index03.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_goldenspa.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_food00.jpg" alt=""/
            .t_image
              .iline
        .c_dot
          .dot
          .dot
          .dot


  // footer
  include footer