include head

body
  .index__wrapper
    .index__logo
    .section.section__ranch
      a href="home.html"
        .subject
          p 農場園區
          span 進入
        .image
          img src="assets/images/sample_index_ranch.jpg" alt="RANCH" 
          .t_image
          .iline
    .section.section__resort
      a href="home.html"
        .subject
          p RESORT
          span Enter
        .image 
          img src="assets/images/sample_index_resort.jpg" alt="RESORT"
          .t_image
          .iline
    .intro
      .language
        a.current href="#" 繁
        a href="#" 简
        a href="#" JP
        a href="#" EN
      ul
        li.address
          span 兆豐農場
          img src="assets/images/icon_spa.png"
          span 溫泉渡假村
        li
          span 電話
          a href="tel:+88638772666" +886-3-887-2666
        li
          span 傳真
          a href="tel:+88638771556" +886-3-887-1556
        li.address
          a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8037226,121.4542253,17z/data=!3m1!4b1!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank" 975花蓮縣鳳林鎮永福街20號
  javascript:
    $(function(){
      var wrapperWidth = $('.index__wrapper').outerWidth();
      var winWidth = $(window).outerWidth();
      var winHeight = $(window).outerHeight();
      var introWidth = 220;
      var padding;
      if( winWidth > 1023 && winWidth < 1280){
        padding = 10;
      } else if( winWidth > 1279){
        padding = 20;
      }
      console.log(winWidth);

      if(winWidth > 1023){
        $('.section').css({
          "width": (wrapperWidth - introWidth) / 2
        })
        $('.index__wrapper').css({
          "height": winHeight - (padding*2)
        })
      }
      $(window).on('resize', function(){
        var winWidth = $(window).outerWidth();
        var winHeight = $(window).outerHeight();
        var wrapperWidth = $('.index__wrapper').outerWidth();
        if( winWidth > 1023 && winWidth < 1280){
          padding = 10;
        } else if( winWidth > 1279){
          padding = 20;
        }
        if(wrapperWidth > (1023 - padding*2)){
          console.log(padding);
          $('.index__wrapper').css({
            "height": winHeight - (padding*2)
          })
          $('.section').css({
            "width": (wrapperWidth - introWidth) / 2
          })
        } else {
          console.log(padding);
          $('.index__wrapper').css({
            "height": "auto"
          })
          $('.section').css({
            "width": "100%"
          })
        }
      })
    })