include head

-$page_list = "news";
body
  // header
  include header

  .main-wrapper
    .news_in.in01#scroll_cont
      .left_img.sc
        .image
          img src="assets/images/sample_newsin.jpg" alt=""/
          .t_image
            .iline 
      .right_info.sc
        .content
          h2.title 
              span 時光隧道-照片徵件活動<br/>評選結果
              .line
          .attr
            .date 2015.12.18
            .type 最新消息
          .info 新光兆豐休閒農場41周年   照片徵件「時光隧道」<br>兆豐農場很榮幸在這41年期間，成為來訪朋友們的時光記憶隧道中，未來的日子裡，希望也能陪伴更多朋友們。<br>感謝所有參加者，每位參加者均可獲得住宿折抵500元優惠券一張。<br>經農場評選後，恭喜下列參賽者：<br>◎優選三名：張冠葶、范揚芳、吳智鈞<br>◎佳作十名：王翊芸、黃令丹、何家欣、張桂菊、侯妙璇、張淑蕙、范振揚、陳俊利、張詠涵、從缺一名<br>【注意事項】<br>一、農場下周將掛號寄出參加獎與獎狀，以及獲獎人需填寫之基本資料，獲獎人最晚請於12月25日前填寫後掛號寄回，農場再將獎品寄出。<br>若晚於12月25日後收到，將視同不願填寫，請恕農場無法提供獎項，並將作品寄回退還。<br>二、不願填寫者，不需填寫回覆，唯請恕無法提供獎品，並於12月25日後將作品寄回退還<br>三、獲獎人填寫之資料作為年度免扣繳憑單寄發使用
      include news_other
  // footer
  include footer