include head

-$page_list = "news";
body
  // header
  include header

  .main-wrapper
    .news_in.in02
      .left_img
        .slide_div
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
          .image
            img src="assets/images/sample_newsin.jpg" alt=""/
            .t_image
              .iline
      .right_info
        .content
          h2.title 
              span 【笠畫廊】曹小容油畫個展 2016.4.2-6.26
              .line
          .attr
            .date 2016/04/07
            .type 活動花絮 
          .info 開幕茶會：2016.4.2 下午14：00<br>地點：笠畫廊(新光兆豐休閒農場遊客中心二樓)<br>花蓮縣鳳林鎮林榮里永福街20號<br>開放時間： 8:00-17:00 (每日)<br>連絡電話：03-8772666#1189<br><br>位於新光兆豐休閒農場的笠畫廊，將於4/2（週六）起，展出在地藝術家曹小容的油畫作品個展「回憶，時光」。展期為期三個月，至6/26日截止。<br>本次展出作品，以藝術家於2013-2016年間所創作的作品為主，總共有十六幅，其中包括一件兩百號的大型作品，以及三件百號大作，新作如100號大型作品『熱情』和2016年的數件小品，都是第一次展出。<br>曹小容的作品，從女性身體意識出發，連結抽象與半抽象技法，表達內在深層情感與生命力量。在她的畫作裡，女性的圖像有時具體可見，有時與大地或象徵生命力的山海意象或花葉，雲朵蝴蝶等簡化後的圖像交融在一起，甚或隱沒其中；在幽微或依稀可以辨識的形貌中，展現女性的柔美，細緻，同時賦予強大的內在能量。<br>在曹小容的畫作裡，色彩扮演著重要角色。明亮而層次豐富的色彩，搭配柔美而靈動的線條筆觸，不僅賞心悅目，也使得觀畫者，直接感受能量的提升。一走進展間，視線立刻為兩百號的大作「夏天的故事」所吸引，藍色調所呈現的海洋天空，彷彿預告著即將來臨的夏天。「女性，聖母」以金色光環，以及由大地湧現出來並纏繞著植物葉片般的臍帶狀物，來訴說女性與大地之母的神話聯繫。同樣是百號作品，「熱情」以亮麗而通透的紅色系，被拆解而重複出現的女體，自亮綠水中升起，散發出生命熱力。其餘，如「青春懷想」「夢中飛翔」「等待」各以不同的抽象女體，訴說著生命不同階段的內在情感與想像。2015下半年的「心裡流動的一首歌」「星空下的戀人」以及2016年的新作品「希望樹」「奇異的旅程」「意識與象徵」則是在筆觸和色彩的處理上，探索下一階段的發展。<br>笠畫廊由新光兆豐農場設立，地點在農場遊客中心二樓。自一年前成立以來，已經舉辦過多次展覽，為花蓮縣壽豐以南地區，帶來不少藝文風采。<br>本次展覽，將於4/2（週六）下午兩點舉辦開幕茶會，歡迎各界愛好藝文人士，前往參觀。展期開放時間為每日上午八點至下午五點。
          .cont_btn
            .pre
            .next
      include news_other
  // footer
  include footer