include head

-$page_list = "news";
body
  // header
  include header

  .main-wrapper
    .newslist
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in03.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in03.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in03.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 最新消息
        .title 時光隧道-照片徵件活動評選結果
        a.more href="news_in.html" Read More
      .item
        .imgg
          img src="assets/images/sample_newslist02.jpg" alt=""/
        .attr
          .date 2015.12.18
          .type 活動花絮
        .title 這是活動花絮-照片徵件活動評選結果這是活動花絮
        a.more href="news_in02.html" Read More
    ul.newspages
      li.active: a href="#" 01
      li: a href="#" 02
      li: a href="#" 03
      li: a href="#" 04
      li: a href="#" 05

  // footer
  include footer