include head

-$page_list = "room";
body
  // header
  include header

  .main-wrapper
    .roomin
      .top
        .image
          img src="assets/images/sample_index01.jpg"
          .t_image
            .iline
        .left_div
          .info
            h2.title 
              span Netherlands
              .line
            h5.price NT. 10,000
            p.text Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
            a.in_btn href="#" Booking
      .detail
        .image
          img src="assets/images/roomin01.jpg" alt=""/
          .t_image
            .iline
        .content
          h4.title 
            span Interior
            .line
          p.text Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
      .text_content
        

      .facilities
        .image
          img src="assets/images/roomin02.jpg" alt=""/
          .t_image
            .iline
        .content
          h4.title 
            span Facilities
            .line
          p.text Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
          .
          a.in_btn href="#" Download Map
      .notice
        h4.main_title Notice
        .list
          .item
            h5.title Weekday / Holiday
            ul
              li Set within the magical.
              li Adorned by festive decorations. Every gram of care and respect 
              li for the ingredients will be concentrated and presented to you on your plate.
          .item
            h5.title Extra Bed Price
            ul
              li Set within the magical.dorned by festive decorations.Every gram of care NT.600 plus.
              li Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
          .item
            h5.title Bonus
            ul
              li Breakfast (Time 06:30~09:30)
              li Ranch Ticket (Time 08:00~17:00)
              li SPA Ticket (care and respect )
          .item
            h5.title Shuttle Bus
            ul
              li Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate.
              li Set within the magical.Adorned by festive decorations.
              li Reservation: +886-3-8772666#1

  // footer
  include footer
  javascript:
    $(function(){
      var old_h = 0;
      var room = $(".roomin");
      room.find(".notice .list .item").each(function(){
        if(old_h<$(this).height()){
          old_h = $(this).height();
        }
      });
      room.find(".notice .list .item").height(old_h);
    });