include head
-$page_list = "room";
body
  // header
  include header

  .main-wrapper
    .roomlist
      .room data-page="Room"
        .all
          .image
            img src="assets/images/sample_roomlist.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span Netherlands
                .line
              .content Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate. 
              a.more href="roomin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_roomlist02.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span Netherlands Deluxe Room
                .line
              .content Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate. 
              a.more href="roomin.html" Read More
      .room
        .all
          .image
            img src="assets/images/sample_roomlist03.jpg"
            .t_image
              .iline
          .left_div
            .info
              h4.title 
                span Standard Room
                .line
              .content Set within the magical environment of our intimate private glasshouse, adorned by festive decorations and seasonal flora, this lunch is really one not to be missed. Every gram of care and respect for the ingredients will be concentrated and presented to you on your plate. 
              a.more href="roomin.html" Read More


  // footer
  include footer