include head

-$page_list = "spa";
body
  // header
  include header

  .main-wrapper
  	.spa#scroll_cont
	    .left_img.sc
          .slide_div
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
            .image
              img src="assets/images/sample_goldenspa.jpg" alt=""/
              .t_image
                .iline
	    .right_info.sc
	    	.content
	    		.main_top
	    			.title 
	    				span 二子山溫泉SPA
	    				.line
	    			.text 搖一勺，溫潤滑過肌膚，熱度滲入肌理，暖了身；浸一刻，純粹滋味，體會真滋味。泉質白霧中的呼吸與溫度，瀰漫著大自然芬多精，一夜好眠。
	    			a.download href="#" Download Map
	    		.bottom_div
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。
	    			.item
	    				.i_title 溫泉使用注意須知
	    				.info 
	    					ul
	    						li 患有動脈硬化、高血壓或心臟血管方面之疾病者，不適宜浸泡溫泉。
	    						li 皮膚有傷口或對溫泉過敏者，不適宜浸泡溫泉。
	    						li 癌症、白血病患者及各種急性疾病患者，不適宜浸泡溫泉。
	    						li 有血管併發症的糖尿病重患者，不適宜浸泡溫泉。
									li 女性生理期間懷孕初期與末期也不宜浸泡溫泉。
									li 過於疲勞、飲酒過量、空腹或過飽時皆不宜浸泡溫泉。
									li 如遇天候不佳，閃電雷雨，露天溫泉spa池、泳池暫不開放，敬請見諒。
									li 露天天體浴池為男女分池，僅限裸體泡溫泉。
	    			.item
	    				.i_title 水質介紹
	    				.info 源泉為中央山脈二指山之水脈，於89年6月特邀全日本探勘專家費時近二個月時間於地底1520M處成功鑿出本溫泉。經檢驗報告指出本溫泉水質為【PH值為7.1、鹼度1.93×10mg/L、硬度199mg/L、硝酸鹽氮0.059mg/L、鐵0.694mg/L、鈣62.6mg/L、鎂8.28mg/L】之碳酸氫納泉。【國立台灣大學嚴慶齡工業發展基金會合設工業研究中心 環境品質檢驗室 檢驗編號：E91A370D745 報告編號：E91D745】碳酸氫納泉含有碳酸氫納的溫泉水，對皮膚有滋潤功能，此種溫泉有軟化角質層的功效，泡此湯對皮膚有滋潤以及漂白的功能，而燒燙傷等外傷患者，泡此湯也有改善消炎、去疤痕的效果，因此有『美人湯、黃金泉』之稱。根據最新醫學證實，經常浸泡含鐵豐富的弱鹼泉水後，生孕男孩的比率較高，因此享有『生男之泉』的美譽。


  // footer
  include footer