.farm_list {
    .item {
        position: relative;
        .left_div {
            padding: 10px 15px 0px;
        }
        .info {
            padding: 0 15px 25px;
            .title {
                font-weight: bold;
                font-size: 22px;
                margin: 15px 0px;
            }
            .txt {
                font-size: 16px;
                line-height: 1.5;
            }
        }
        &:nth-child(odd) {
            background: $ui-green-dark;
            color: $background;
            .left_div {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    background-color: $background;
                    width: 100%;
                    height: 60%;
                    top: 0;
                    left: 0;
                }
            }
        }
        &:nth-child(even) {
            color: $ui-green-dark;
        }
    }
}

@media (--desktop) {
    .farm_list {
        text-align: center;
        padding-bottom: 70px;
        .item {
            .left_div {
                box-shadow: 7px 10px 16px -5px rgba(0, 0, 0, 0.3);
                padding: 0;
                width: calc(950/1860 *100%);
                display: inline-block;
                vertical-align: middle;
            }
            .info {
                text-align: left;
                width: calc(630 / 1860 * 100%);
                display: inline-block;
                vertical-align: middle;
                position: relative;
                padding: 30px;
                .title {
                    font-size: 28px;
                    position: relative;
                    span {
                        width: 90%;
                        display: block;
                        position: relative;
                        z-index: 3;
                    }
                    .line {
                        position: absolute;
                        width: 90%;
                        background-color: #d19a35;
                        height: 1px;
                        top: 50%;
                        z-index: 2;
                        &:before {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            content: "";
                            background-image: url(../images/dot_a.png);
                            background-repeat: no-repeat;
                            background-position: 101% center;
                            background-size: auto 100%;
                            top: -6px;
                        }
                    }
                }
                .txt {
                    font-size: 17px;
                }
            }
            &:nth-child(odd) {
                background: transparent;
                .left_div {
                    &:after {
                        display: none;
                    }
                }
                .info {
                    background: $ui-green-dark;
                    .title {
                        span {
                            background-color: $ui-green-dark;
                            padding-left: 20px;
                            margin-left: -20px;
                        }
                        .line {
                            left: -52px;
                            &:before {
                                left: -7px;
                            }
                        }
                    }
                }
                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    background-color: $ui-green-dark;
                    width: calc(1740/1860 * 100%);
                    height: calc(492/632 *100%);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &:nth-child(even) {
                direction: rtl;
                .info {
                    direction: ltr;
                    .title {
                        span {
                            background-color: $background;
                        }
                        .line {
                            right: -52px;
                            &:before {
                                right: -7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (--desktop-hd) {
    .farm_list {
        .item {
            &:nth-child(odd) {
                .info {
                    .title {
                        .line {
                            left: -94px;
                        }
                    }
                }
            }
            &:nth-child(even) {
                .info {
                    .title {
                        .line {
                            right: -94px;
                        }
                    }
                }
            }
            .info {
                padding: 70px;
                .title {
                    font-size: 34px;
                }
                .txt {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
