.news_in {
    .other {
        margin: 0 15px;
        .other_title {
            font-size: 22px;
            margin: 25px 0px 15px;
        }
        .news_list {
            padding-bottom: 25px;
        }
        .item {
            padding: 10px 0;
            .attr {
                color: $ui-yellow;
                line-height: 1;
                margin-top: 15px;
                &>* {
                    display: inline-block;
                    vertical-align: middle;
                }
                .date {
                    font-size: 16px;
                    padding-right: 7px;
                    border-right: 1px $ui-yellow solid;
                }
                .type {
                    font-size: 15px;
                    padding-left: 7px;
                }
            }
            .title {
                margin-top: 10px;
                color: $ui-green-font;
                font-size: 18px;
            }
            .more {
                @mixin more-btn;
                margin-top: 20px;
            }
        }
        .bx-viewport {
            padding-bottom: 25px;
            border-bottom: 1px $ui-yellow solid;
        }
        .bx-wrapper .bx-controls {
            padding: 0 0 15px;
        }
        .bx-pager {
            display: block;
            text-align: center;
            .bx-pager-item {
                display: inline-block;
                a {
                    display: block;
                    width: 15px;
                    height: 15px;
                    position: relative;
                    font-size: 0;
                    margin: 0px 7px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        left: 0;
                        top: 0;
                        background-image: url("../images/dot.png");
                        background-position: center;
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                    }
                }
                a.active {
                    &:after {
                        background-image: url("../images/dot_a.png");
                    }
                }
            }
        }
    }
}

.in01,
.in03 {
    .right_info {
        margin: 0px 15px;
        border-bottom: 1px $ui-yellow solid;
        padding-bottom: 35px;
        .content {
            .title {
                font-size: 22px;
                line-height: 1.5;
                margin-bottom: 0;
            }
            .attr {
                color: $ui-yellow;
                line-height: 1;
                margin-top: 5px;
                &>* {
                    display: inline-block;
                    vertical-align: middle;
                }
                .date {
                    font-size: 16px;
                    padding-right: 7px;
                    border-right: 1px $ui-yellow solid;
                }
                .type {
                    font-size: 15px;
                    padding-left: 7px;
                }
            }
            .info {
                margin-top: 15px;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}

.in02 {
    .cont_btn {
        font-size: 0;
        margin-top: 15px;
        &>* {
            width: 80px;
            border: 1px $ui-yellow solid;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .left_img,
    .right_info {
        background-color: $ui-green-dark;
    }
    .bx-wrapper .bx-controls {
        border-bottom: 0;
    }
    .right_info {
        color: $background;
        padding: 25px 15px;
        .content {
            .title {
                margin: 0;
                font-size: 22px;
                line-height: 1.4;
            }
            .attr {
                &>* {
                    display: inline-block;
                    vertical-align: middle;
                }
                .date {
                    font-size: 16px;
                    padding-right: 7px;
                    border-right: 1px $background solid;
                }
                .type {
                    font-size: 15px;
                    padding-left: 7px;
                }
            }
            .info {
                margin-top: 15px;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    &>.bx-wrapper {
        background-color: $ui-green-dark;
        .bx-controls {
            display: none;
        }
    }
}

.in03 {
    padding: 0 20px;
    text-align: center;
    .right_info {
        margin: 0;
        text-align: left;
    }
    .other {
        text-align: left;
    }
}
@media (--desktop) {
    .news_in {
        .other {
            max-width: 1620px;
            margin: 0 auto;
            padding-top: 40px;
            .other_title {
                padding: 0 20px;
                color: $ui-green-font;
                font-size: 34px;
            }
            .news_list {
                font-size: 0;
                margin: 0 auto;
            }
            .item {
                width: 25%;
                padding: 0 20px;
                display: inline-block;
            }
        }
    }
    .in01,
    .in03 {
        .left_img {
            vertical-align: top;
            position: relative;
            display: inline-block;
            width: calc( 890/1860 *100%);
            margin-left: 6%;
            img {
                position: relative;
            }
            &:before {
                content: "";
                background-color: $ui-green-dark;
                width: 100%;
                height: 100%;
                transform: scale(1.1, 1);
                position: absolute;
                margin-left: -13.6%;
            }
        }
        .right_info {
            border-top: 1px $ui-yellow solid;
            vertical-align: top;
            display: inline-block;
            width: calc(670/1860 *100%);
            margin: 0px 0px 0px 60px;
            .content {
                position: relative;
                .title {
                    position: relative;
                    font-size: 34px;
                    span {
                        padding-left: 20px;
                        margin-left: -20px;
                        width: 90%;
                        display: block;
                        position: relative;
                        z-index: 3;
                        background-color: $background;
                    }
                    .line {
                        position: absolute;
                        width: 90%;
                        background-color: #d19a35;
                        height: 1px;
                        top: 50%;
                        z-index: 2;
                        left: -84px;
                        &:before {
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            content: "";
                            background-image: url(../images/dot_a.png);
                            background-repeat: no-repeat;
                            background-position: 101% center;
                            background-size: auto 100%;
                            top: -6px;
                            left: -7px;
                        }
                    }
                }
                .info {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
    .in02 {
        font-size: 0;
        .left_img{
            width: calc(1220/1860 * 100%);
            display: inline-block;
            vertical-align: top;
            box-shadow: 7px 10px 16px -5px rgba(0, 0, 0, 0.3);
        }
        /*&>.bx-wrapper {
            width: calc(1220/1860 * 100%);
            display: inline-block;
            vertical-align: middle;
            box-shadow: 7px 10px 16px -5px rgba(0, 0, 0, 0.3);
        }*/
        .right_info {
            width: calc(590/1860 * 100%);
            display: inline-block;
            vertical-align: middle;
            padding: 30px 40px;
            .content {
                border-top: 1px $ui-yellow solid;
                border-bottom: 1px $ui-yellow solid;
                padding: 30px 0px;
            }
        }
    }
    .in03 {
        .right_info {
            width: 50%;
        }
    }
}

@media (--desktop-hd) {
    .in02 {
        .right_info {
            padding: 60px 70px;
            .content {
                .title {
                    font-size: 34px;
                }
                .info {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
