#pop_view {
    overflow-y: auto;
    display: none;
    z-index: 99999;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $ui-green-dark;
    padding: 10px;
    .head_btn {
        text-align: right;
        height: $menu_height;
        background-color: #f1eee4;
        padding: 10px 15px;
    }
    #loading_div {
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-75px/2);
        margin-left: calc(-70px/2);
    }
    #content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .close {
        position: relative;
        width: 40px;
        height: 40px;
        display: inline-block;
        &:after,
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $ui-yellow;
            transform-origin: 50%;
            margin-top: -2px;
            top: 50%;
            right: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    .bx-wrapper .bx-controls {
        margin: 0;
        text-align: right;
        border-bottom: 0;
    }
    .bx-controls-direction {
        font-size: 0;
        .bx-prev,
        .bx-next {
            vertical-align: top;
            display: inline-block;
            width: 70px;
            height: 34px;
            border: 1px $ui-yellow solid;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
        .bx-prev {
            background-image: url("../images/silde_arr_left2.png");
        }
        .bx-next {
            background-image: url("../images/silde_arr_right2.png");
        }
    }
    .right_div {
        color: $background;
        padding: 0px 15px 25px;
        .top {
            border-bottom: 1px $ui-yellow solid;
            padding: 0px 0 25px;
            .title {
                font-size: 22px;
                line-height: 32px;
                font-weight: bold;
            }
            .txt {
                margin-top: 10px;
                font-size: 16px;
                line-height: 28px;
            }
        }
        .bottom {
            padding: 25px 0px;
            .sub {
                font-size: 18px;
            }
            ul {
                font-size: 16px;
                line-height: 28px;
                list-style-type: disc;
                padding-left: 20px;
            }
        }
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: $ui-yellow;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        width: 50%;
        background-color: transparent;
    }
    @media (--desktop) {
        overflow-y: hidden;
        .bx-wrapper .bx-controls {
            bottom: -80px;
            right: 0;
        }
        .bx-controls-direction {
            .bx-prev,
            .bx-next {
                width: 65px;
                border: 1px $ui-green-dark solid;
            }
            .bx-prev {
                background-image: url("../images/silde_arr_left.png");
            }
            .bx-next {
                background-image: url("../images/silde_arr_right.png");
            }
        }
        .head_btn {
            background-color: transparent;
        }
        .content {
            height: 100%;
            position: relative;
            font-size: 0;
            &:after {
                content: "";
                vertical-align: middle;
                display: inline-block;
                height: 100%;
            }
            &:before {
                content: "";
                position: absolute;
                right: 0;
                height: 100%;
                background-color: #f1eee4;
                width: 50%;
            }
        }
        .detail {
            vertical-align: middle;
            text-align: center;
            position: relative;
            display: inline-block;
            margin-top: -120px;
            .bx-wrapper {
                box-shadow: 7px 10px 16px -5px rgba(0, 0, 0, 0.3);
                width: calc(1110 / 1860 * 100%);
                display: inline-block;
                vertical-align: top;
            }
            .right_div {
                color: #000;
                text-align: left;
                width: calc(540 / 1860 * 100%);
                display: inline-block;
                vertical-align: top;
                position: relative;
                overflow-y: auto;
                padding: 15px;
            }
        }
    }
}
