.room {
    position: relative;
    .left_div {
        position: relative;
        padding: 0px 15px;
        color: $ui-green-font;
        .title {
            font-size: 24px;
            margin: 20px 0px;
            font-weight: bold;
            span {
                width: 100%;
                display: block;
                line-height: 1;
            }
        }
        .content {
            font-size: 16px;
        }
        .more {
            @mixin more-btn;
            margin: 20px 0px 25px;
        }
    }
    .all {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: attr(data-page);
        position: absolute;
        font-size: 150px;
        color: $bacakground-font;
        opacity: .2;
        bottom: -40px;
        right: 50%;
        line-height: 1;
        font-weight: bold;
        font-style: italic;
        transform: translateX(50%);
        font-family: 'Crimson Text', serif;
    }
}

@media (--desktop) {
    .room {
        font-size: 0;
        .image {
            display: inline-block;
            width: calc(1225/1860 * 100%);
            vertical-align: top;
        }
        .left_div {
            display: inline-block;
            width: calc(630/1860*100%);
            vertical-align: middle;
            padding: 0px 40px;
            .title {
                position: relative;
                font-size: 22px;
                margin: 10px 0px;
                span {
                    display: block;
                    width: 90%;
                    padding-left: 20px;
                    margin-left: -20px;
                    position: relative;
                    background-color: $background;
                    z-index: 3;
                }
                .line {
                    position: absolute;
                    width: 100%;
                    background-color: #d19a35;
                    height: 1px;
                    left: -61px;
                    top: 50%;
                    z-index: 2;
                    &:before {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        content: "";
                        background-image: url(../images/dot_a.png);
                        background-repeat: no-repeat;
                        background-position: 101% center;
                        background-size: auto 100%;
                        left: -7px;
                        top: -6px;
                    }
                }
            }
            .content {
                font-size: 16px;
                line-height: 28px;
            }
            .more {
                font-size: 18px;
            }
        }
        &:after {
            font-size: 180px;
            right: -61px;
            transform: translateX(0%);
        }
        &:nth-child(even) {
            direction: rtl;
            .left_div {
                direction: ltr;
                .title {
                    span {
                        padding-left: 0;
                        margin-left: 0;
                        padding-right: 20px;
                        margin-right: -20px;
                        display: inline-block;
                    }
                    .line {
                        left: auto;
                        right: -61px;
                        &:before {
                            left: auto;
                            right: -7px;
                        }
                    }
                }
            }
            &:after {
                right: auto;
                left: -61px;
            }
        }
    }
}

@media (--desktop-w){
    .room{
        .image {
            vertical-align: middle;
        }
    }
}

@media (--desktop-hd) {
    .room {
        .left_div {
            padding: 0px 70px;
            .info {
                width: calc(475 / 630 * 100%);
            }
            .title {
                span {
                    font-size: 22px;
                }
                .line {
                    left: -91px;
                }
            }
        }
        &:after {
            font-size: 280px;
            right: 0;
        }
        &:nth-child(even) {
            .info {
                margin: 0px 0px 0px auto;
            }
            .left_div {
                .title {
                    .line {
                        right: -91px;
                    }
                }
            }
            &:after {
                left: 0;
            }
        }
    }
}
