.fixHeader .spa{
    @media (--desktop){
        margin-top: -75px;
    }
}

.spa {
    .left_img{

    }
    .right_info {
        padding: 15px 20px;
        color: $ui-green-dark;
        .main_top {
            border-bottom: 1px $ui-yellow solid;
            padding-bottom: 30px;
            .title {
                font-weight: bold;
                font-size: 22px;
            }
            .text {
                font-size: 16px;
                line-height: 28px;
                margin-top: 10px;
            }
            a.download {
                display: inline-block;
                margin-top: 15px;
                color: $ui-yellow;
                font-size: 16px;
                padding: 7px 18px;
                border: 1px $ui-yellow solid;
                font-style: italic;
            }
        }
        .bottom_div {
            .item {
                border-bottom: 1px $ui-yellow solid;
                font-size: 16px;
                line-height: 30px;
                padding: 35px 0px 30px;
                .i_title {
                    font-weight: bold;
                    font-size: 18px;
                }
                ul {
                    padding-left: 20px;
                    list-style-type: disc;
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    .bx-wrapper .bx-controls{   
        .bx-prev,.bx-next {

            /*border:1px $ui-yellow solid;*/
            img{
                    width: 75px;
                }
            }
    }
    @media (--desktop) {
        #scroll_cont {
            position: relative;
            .sc {
                position: relative;
            }
        }
        .left_img {
            box-shadow: 7px 10px 16px -5px rgba(0, 0, 0, 0.3);
            vertical-align: top;
            display: inline-block;
            width: calc(1230 / 1860 *100%);
        }
        .right_info {
            vertical-align: top;
            display: inline-block;
            width: calc(510 / 1860 * 100%);
            padding-bottom: 100px;
        }
    }
        .bx-wrapper .bx-controls{
            margin: 0;
            bottom: -60px;
            padding: 0;
            left: auto;
            right: 0;
            /*background: rgba(209,154,53,.4);*/
            font-size: 0;
        }
}
