#pop_view
  #loading_div
    img src="assets/images/load.gif" alt=""/
  #content
    
footer
  .footer__contact
    .text
      .title
        | Shin Kong Chao Feng Ranch & Resort
      .title__mobile
        span HARVEST | Ranch
        img src="assets/images/icon_spa.png"
        span Resort
      ul
        li
          span Tel 
          a href="+88638772666" +886-3-877-2666
        li
          span Fax 
          a href="+88638771556" +886-3-877-1556
        li.address
          a href="https://www.google.com.tw/maps/place/975%E8%8A%B1%E8%93%AE%E7%B8%A3%E9%B3%B3%E6%9E%97%E9%8E%AE%E6%B0%B8%E7%A6%8F%E8%A1%9720%E8%99%9F/@23.8035042,121.4556576,18z/data=!4m2!3m1!1s0x3468afe5f00ce833:0xbd40fb312965fe57" target="_blank"
            p No.20, Yongfu St., Fenglin Township, Hualien Country 975, Taiwan (R.O.C)
      .others
        a.facebook href="https://www.facebook.com/skcf.ranch/" target="_blank" facebook
        a.train href="http://twtraffic.tra.gov.tw/twrail/" target="_blank" train timetable
        a.flight href="http://www.hulairport.gov.tw/content/schedule/schedule03.aspx" target="_blank" flight schedules
      .copyright
        p @2015 Shin Kong Chao Feng Ranch & Resort All Right Reserved.
    .map_div
      .map
      .image
script src="assets/js/app.js"