header.cn
  .logo__mobile
  .menuToggle
    span
  nav
    ul.left
      li: a href="#" targrt="_blank" 線上訂房
      li class=($page_list=="room" ? "active" : "")
        a href="roomlist.html" 房型介紹
      li class=($page_list=="food" ? "active" : "")
        a href="foodlist.html" 餐飲美食
      li.spa class=($page_list=="spa" ? "active" : "")
        a href="spa.html" 二子山溫泉
    ul.mid      
      li.logo.nh: a href="home.html" 
        img src="assets/images/icon_logo_index.png" alt=""/
    ul.right
      li.news.nh class=($page_list=="news" ? "active" : "")
        a href="javascript:void(0)" 飯店消息
        .sub
          .si: a href="newslist.html" 最新消息
          .si: a href="newslist.html" 活動花絮
      li: a href="foodlist.html" 環境設施
      li: a href="spa.html" 交通方式
      li.lang.nh
        ul
          li: a href="home.html" 農場
          li.lan_btn.nh
            div 
              span EN
              ol
                li.lan: a href="#" 繁