header.cn
  .logo__mobile
  .menuToggle
    span
  nav
    ul.left
      li.news.nh class=($page_list=="news" ? "active" : "")
        a href="javascript:void(0)" 飯店消息
        .sub
          .si: a href="newslist.html" 最新消息
          .si: a href="newslist.html" 活動花絮
      
      li class=($page_list=="room" ? "active" : "")
        a href="roomlist.html" 房型介紹
      li class=($page_list=="food" ? "active" : "")
        a href="foodlist.html" 餐飲美食
      li.spa class=($page_list=="spa" ? "active" : "")
        a href="spa.html" 二子山溫泉
    ul.mid      
      li.logo.nh: a href="index.html" 
        img src="assets/images/icon_logo_index.png" alt=""/
    ul.right
      li: a href="foodlist.html" 環境設施
      li.news.nh
        a href="javascript:void(0)" 關於我們
        .sub
          .si: a href="#" 拓荒史
          .si: a href="#" 交通方式
      / li: a href="home.html" 度假飯店
      li.news.nh
        a href="javascript:void(0)" 渡假飯店
        .sub
          .si: a href="#" 渡假飯店
          .si: a href="#" 農場園區
      li.news.nh
        a href="javascript:void(0)" 繁
        .sub
          .si: a href="#" 繁
          .si: a href="#" 簡
          .si: a href="#" JP
          .si: a href="#" EN
      / li: a href="#" targrt="_blank" Booking
      / li.lang.nh
      /   ul
      /     li.lan_btn.nh
      /       div 
      /         span EN
      /         ol
      /           li.lan: a href="#" 繁

.float__banner
  .booking: a href="#" booking
  .events: a href="#" events