.float__banner{
    display: none;
}


@media (--desktop){
    .float__banner{
        display: block;
        position: fixed;
        width: 60px;
        right: 0;
        top: 240px;
        z-index: 100;
        > div{
            width: 60px;
            height: 125px;
            a{
                display: block;
                width: 60px;
                height: 125px;
                text-indent: -99999px;
            }
        }
        .booking{
            background-image: url(../images/button_booking.png);
        }
        .events{
            background-image: url(../images/button_events.png);
        }
    }
}
