footer {
    position: relative;
    z-index: 0;
    padding-top: 30px;
}

.footer__contact {
    .text {
        padding: 0 20px;
        .title {
            display: none;
        }
        .title__mobile {
            font-size: 20px;
            color: $ui-yellow-dark;
            text-align: center;
            img {
                padding: 0 5px;
            }
        }
        ul {
            @mixin ulreset;
            margin-top: 10px;
        }
        li {
            color: #e6e2d6;
            padding: 20px 0;
            border-bottom: 1px solid #847d65;
            &:last-child {
                border-bottom: 0;
            }
        }
        a {
            color: #e6e2d6;
            text-decoration: none;
        }
        p {
            margin: 0;
        }
        .others{
            position: relative;
            z-index: 2;
            > a{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                background-position: center;
                background-repeat: no-repeat;
                text-indent: -9999px;
                margin-right: 5px;
            }
            a.facebook{
                background-image: url(../images/icon-facebook@2x.png);
            }
            a.train{
                background-image: url(../images/icon-train@2x.png);
            }
            a.flight{
                background-image: url(../images/icon-flight@2x.png);
            }
        }
        .copyright {
            padding: 20px 0;
            color: #847d65;
            font-style: italic;
        }
    }
}

@media (--desktop) {
    footer {}
    .footer__contact {
        text-align: center;
        padding: 30px 0 0 0;
        clear: fix;
        position: relative;
        overflow: hidden;
        &:after {
            content: "Shin Kong Chao Feng";
            position: absolute;
            width: 100%;
            font-size: 120px;
            white-space: nowrap;
            left: -20px;
            bottom: -50px;
            font-weight: bolder;
            opacity: 0.25;
            text-shadow: inset 0 0 5px rgba(0, 0, 0, .35);
        }
        .text {
            text-align: left;
            vertical-align: middle;
            display: inline-block;
            width: calc(650 / 1340 *100%);
            padding: 0 80px;
            font-size: 18px;
            .title {
                display: block;
                font-size: 26px;
                color: $ui-yellow-dark;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, .35);
            }
            .title__mobile {
                display: none;
            }
            .copyright {
                padding-top: 30px;
            }
        }
        .map_div {
            vertical-align: middle;
            z-index: 3;
            position: relative;
            display: inline-block;
            width: 40%;
            .map {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .image {
                margin-top: calc(400/600 * 100%);
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }
}

@media (--desktop-w) {
    footer {
        background-color: $background;
    }
    .footer__contact {
        width: 75%;
        margin-left: 25%;
        background-color: $ui-green-dark;
        &:after {
            font-size: 135px;
        }
    }
}
