@define-mixin more-btn {
    display: inline-block;
    border: 1px $ui-green-dark solid;
    padding: 6px 10px;
    font-size: 16px;
    font-style: italic;
}

@define-mixin ulreset {
    list-style: none;
    margin: 0;
    padding: 0;
}
